:root{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background: linear-gradient(to right, rgb(0, 98, 255), rgb(26, 0, 128));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
header h1{
    text-align: center;
    color: white;
}
main{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}
#search-city-section{
    width: 20%;
    height: 100%;
    margin-right: 5%;
}
#search-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}
label h2{
    margin: 0;
}
#weather-dashboard{
    height: 100%;
    width: 75%;
}
#current-weather{
    width: 100%;
    height: 40%;
    border: 1px solid black;
}
#incoming-weather{
    width: 100%;
    height: 60%;
}
#searchBtn{
    background-color: rgb(0, 142, 219);
    color: white;
    border: 0;
}
#city-search{
    border-radius: 5px;
    height: 35px;
    border: 1px solid gray;
}
.btn{
    border-radius: 5px;
    height: 25px;
}
#search-div{
    border-bottom: 1px solid black;
}